{{form_start(form)}}
    {{form_row(form.q)}}
    {{form_row(form.bikeProducer)}}
    {{form_row(form.year)}}
    <button class="btn btn-primary w-100" type="submit">Submit</button>
{{form_end(form)}}